@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --rojo: #ff4048;
  --blanco: #f5f5f5;
  --negro: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

body {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

/* CSS para el Header */

/* Logo */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

.header figure {
  width: 180px;
}

.header figure img {
  width: 100%;
  display: inline-block;
}

.bars {
  display: none;
}

/* Barra de Navegacion */

.navbar a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 5px 0;
  color: var(--negro);
  border: 3px white solid;
}

.navbar a:hover {
  border-bottom: 3px var(--rojo) solid;
}

/* Secccion Hero y SlideBar */

.picslide {
  position: relative;
}

.info-slide {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  text-align: right;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  z-index: 6;
  width: 400px;
}

.info-slide h1 {
  color: var(--rojo);
  font-weight: 800;
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 40px;
}

.btn {
  margin-top: 30px;
  text-decoration: none;
  background-color: var(--rojo);
  padding: 10px 30px;
  color: var(--blanco);
  border-radius: 5px;
  border: 2px var(--rojo) solid;
}

.btn:hover {
  background-color: var(--blanco);
  border: 2px var(--rojo) solid;
  color: var(--rojo);
}

/*! http://responsiveslides.com v1.55 by @arielsalminen */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  object-fit: cover;
  max-height: 800px;
  float: left;
  width: 100%;
  border: 0;
  }

/* Seccion de Servicios */

.serv {
  text-align: center;
}

.serv h1 {
  font-size: 35px;
  margin-top: 30px;
}

.articles-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.articles-cont article {
  height: 300px;
  width: 250px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.articles-cont article div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 2px #ccc solid;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.articles-cont article div i {
  font-size: 60px;
  color: var(--rojo);
}

.articles-cont article h2 {
  font-size: 20px;
  margin: 20px 0;
}

/* Seccion Galeria */

.galeria {
  background-color: var(--blanco);
}

.cont-galeria-up a img {
  width: 400px;
}

.cont-galeria-up {
  display: flex;
}

.cont-galeria-down a img {
  width: 400px;
}

.cont-galeria-down {
  display: flex;
}

.cont-elements-gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;
}

.text-cont {
  display: flex;
  text-align: start;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 300px;
  margin-left: 50px;
}

.text-cont h2 {
  text-align: start;
  line-height: 50px;
  font-size: 40px;
  margin-bottom: 20px;
}

.text-cont h2 span {
  font-weight: 300;
}

/* Seccion Footer */

.line-up {
  position: relative;
  margin-bottom: 30px;
}

.line1 {
  border: none;
  width: 80%;
  height: 2px;
  background-color: var(--blanco);
  margin: 20px auto;
}

.line2 {
  border: none;
  width: 100%;
  height: 2px;
  background-color: var(--blanco);
  margin: 0 auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.social-media {
  display: flex;
}

.social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  text-decoration: none;
  border: 2px var(--blanco) solid;
  color: var(--rojo);
  margin: 5px;
  border-radius: 50px;
}

#back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 70px;
  right: 50px;
  display: none;
  padding: 10px;
  background-color: var(--rojo);
  color: var(--blanco);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin:  10px 40px;
  }

  #menu {
    display: none;
  }

  .bars {
    display: block;
    font-size: 35px;
    color: var(--rojo);
  }

  #menu {
    width: 90%;
  }

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
  }

  .navbar a {
    display: flex;
    justify-content: flex-start;
    font-weight: 500;
    border-bottom: 3px var(--rojo) solid;
    padding: 10px;
    width: 100%;
  }

  .info-slide {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(0deg, #af000033 0%, #ff000033 100%);
    width: 100%;
    max-width: 300px;
    max-height: fit-content;
  }
  .info-slide p {
    display: none;
  }

  .info-slide h1 {
    margin: 10px;
    font-size: 40px;
    line-height: 35px;
  }

  .btn {
    margin: 20px;
  }

  .serv h1 {
    font-size: 30;
  }
  .articles-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .articles-cont article {
    height: 400px;
    width: 70%;
    margin: 20px;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px #cccc;
  }

  .articles-cont article h2 {
    font-size: 24px;
    line-height: 35px;
    margin: 30px 0;
  }

  .articles-cont article div {
    width: 150px;
    height: 150px;
  }

  .articles-cont article div i {
    font-size: 70px;
  }

  .text-cont {
    margin-left: 5%;
  }

  .cont-elements-gallery {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 0;
    align-items: self-start;
  }

  .cont-galeria-up a {
    width: 100%;
    text-align: center;
    margin: 20px;
  }

  .cont-galeria-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cont-galeria-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cont-galeria-down a {
    width: 100%;
    text-align: center;
    margin: 20px;
  }

  .cont-galeria-up a img{
    width: 90%;
  }

  .cont-galeria-down a img{
    width: 90%;
  }

  .btn2 {
    margin: 20px 20px 20px 0;
  }

  footer p {
    display: none;
  }

  .footer {
    justify-content: center;
    height: 100px;
  }

  .social-media a {
    width: 70px;
    height: 70px;
    text-decoration: none;
    border: 2px var(--blanco) solid;
    color: var(--rojo);
    margin: 5px;
    border-radius: 50px;
  }

  .social-media a i {
    font-size: 30px;
  }
}
